{% extends "base.html" %}
<title> {% block title %} About {% endblock %} </title>

{% block background %}{% load static %}{% static 'img/acerca.jpg' %}{% endblock %}


{% block content %} 
    <h2>Nuestra labor como trabajadores de salud odontológica, prestando servicios a la comunidad desde hace 7 años, contando con la experiencia que se requiere en el ámbito profesional, tanto a servicios privados como públicos, trabajando con ahínco y dedicación, con un equipo altamente cualificado, dispuestos a ofrecer un correcto diagnóstico y tratamiento a nuestros pacientes, mediante la aplicación de procedimientos actualizados y materiales de alta calidad</h2>
{% endblock %} 