{% extends "base.html" %}
<title> {% block title %} Contacto {% endblock %} </title>

{% block background %}{% load static %}{% static 'img/contacto.jpg' %}{% endblock %}


{% block content %}
            <div class="section-title">
          <h2>PROMOCIONES</h2>
          <p>PROMOCIONES DEL MES</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/pro1.jpeg'%}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/pro1.jpeg'%}" alt="" class="img-fluid">

    </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/pro2.jpeg'%}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'assets/img/gallery/pro2.jpeg'%}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'assets/img/gallery/pro3.jpeg'%}
{% endblock %}